# Archivos de Gradle
.gradle/
local.properties

# Archivos de IntelliJ IDEA/Android Studio
*.iml
.idea/
.DS_Store

# Archivos de compilación
/build/
/captures/
.externalNativeBuild/
.cxx/

# Archivos de sistema
Thumbs.db

# Archivos de dependencia
/node_modules/
